h1 {
 font-size: 150px;
 color: red;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 padding-top: 500px;
 padding-right: 10px;
 
}

#main {
    height: 1000px;
    background-image: url(images/city-pic.jpeg);
}

#aside {
    background-color: black;
    height: 1000px;

}
#longModal{
    padding-left: 10px;
}

.social-icons {
    font-size: 48px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 30px;
    padding-top: 120px;
    
}