h1 {
 font-size: 150px;
 color: red;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 padding-top: 300px;
 padding-right: 10px;
}

#main {
    height: 100vh;
    background-image: url(images/city-pic.jpeg);
}

#aside {
    background-color: black;
    height: 100vh;

}
#longModal{
    padding-left: 10px;
}
#modal {
    margin-left: 300px;
}
.social-icons {
    font-size: 48px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
    

    
}